%article
  %h2
    Support For Your Growing
    %del Dicks
    Mash-up.

  %p
    If you would like the ASCII Dicks API to support more than the formats already listed, get off your ass and contribute your dick expertise. Dicks don't just grow on trees and neither does this code.
    = succeed "." do
      %a{:href => "http://github.com/martinemde/dicks", :title => "Dicks on github"} Fork this project on github
