body
  font-family: monospace
  text-align: center

#dicks
  text-align: left
  font-size: x-large
  margin: 1em auto
  display: table

#info
  margin: 0 auto
  font-size: small
  color: #888888
  position: absolute
  bottom: 3em
  width: 100%
  text-align: center
  ul
    list-style-type: none
    width: 20em
    text-align: left
    display: table
    margin: 0 auto
