%strong.email(title="Email me&hellip; *shrug* &hellip; why not? Sub out those dicks for the usual email thingies.")
  dicks
  %span.at(title="Put an @ here") 8=D
  martinemde
  %span.dot(title="Put a . here") 8=D
  com
