<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <style type="text/css">
      #dicks {
        margin: 1em auto;
        width: 10em;
        font-size: x-large; }
      #default {
        margin-top: 20em;
        font-size: small;
        color: #888; }
    </style>
  </head>
  <body>
    <div id="dicks">
      <pre>
<%= @dicks %>
      </pre>
    </div>
    <% if @default %>
      <p id="default">
        Want more (or less) dicks?
        <br />
        Try putting a number in the url like this:
        <a href="/10">10 dicks</a>
      </p>
    <% end %>
  </body>
</html>
