<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <style type="text/css">
      #dicks {
        margin: 1em auto;
        width: 10em;
        font-size: x-large; }
      #info {
        margin-top: 20em;
        font-size: small;
        color: #888; }
    </style>
  </head>
  <body>
    <div id="dicks">
      <pre>
<%= @dicks %>
      </pre>
    </div>
    <% if @default %>
      <div id="info">
        <p>
          Want more (or less) dicks?
          <br />
          Try putting a number in the url like this:
          <a href="/10">10 dicks</a>
        </p>
        <p>
          Dicks also supports many other formats:
        </p>
        <ul>
          <li>JSON: <a href="/9.json">9 JSON dicks</a></li>
          <li>XML: <a href="/8.xml">8 XML dicks</a></li>
          <li>Plain: <a href="/7.txt">7 plain text dicks</a></li>
          <li>YAML: <a href="/6.yaml">6 YAML dicks</a></li>
        </ul>
        <p>Need a format I don't support? Contact me at dicks -at- martinemde -/- com</p>
      </div>
    <% end %>
  </body>
</html>
