<!DOCTYPE html>
<!DOCTYPE html> 
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml"> 
  <head> 
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"> 
    <style type="text/css"> 
      #dicks {
        margin: 1em auto;
        width: 80%;
        font-size: x-large; }
    </style> 
  </head> 
  <body> 
    <div id="dicks"> 
      <pre>
<%= @dicks %>
      </pre>
    </div> 
  </body> 
</html> 
