!!!
%html{:lang => "en-US", "xml:lang" => "en-US", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TOO MANY ASCII DICKS!
    :css
      #dicks {
        margin: 1em auto;
        font-family: monospace;
        text-align: center;
        font-size: x-large; }
      #info {
        margin-top: 20em;
        font-size: small;
        color: #888; }
      %body
    #dicks
      %h2 What need could you possibly have for #{@count} dicks?
      Please let me know:
      %strong.email(title="Email me&hellip; *shrug* &hellip; why not? Sub out those dicks for the usual email thingies.")
        dicks
        %span.at(title="Put an @ here") 8=D
        martinemde
        %span.dot(title="Put a . here") 8=D
        com
